include ../mixins/box-head.pug

.section-4
    .container
        +box-head(
                "Có thể bạn chưa biết?",
                "Kiến thức thú cưng hữu ích",
                "#"
            )
        .section-4__wrap
            .section-4__blog-item
                .section-4__inner-item
                    .section-4__inner-image
                        a(href="#")
                            img(alt="" src="assets/images/blog1.jpg")
                    .section-4__inner-content
                        .section-4__inner-tag Kiến thức thú cưng
                        h3.section-4__inner-title
                            a(href="#") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        .section-4__inner-decs
                        | Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
            .section-4__blog-item
                .section-4__inner-item
                    .section-4__inner-image
                        a(href="#")
                            img(alt="" src="assets/images/blog1.jpg")
                    .section-4__inner-content
                        .section-4__inner-tag Kiến thức thú cưng
                        h3.section-4__inner-title
                            a(href="#") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        .section-4__inner-decs
                        | Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
            .section-4__blog-item
                .section-4__inner-item
                    .section-4__inner-image
                        a(href="#")
                            img(alt="" src="assets/images/blog1.jpg")
                    .section-4__inner-content
                        .section-4__inner-tag Kiến thức thú cưng
                        h3.section-4__inner-title
                            a(href="#") Pomeranian là gì? Cách nhận biết chó Pomeranian
                        .section-4__inner-decs
                        | Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
        .section-4__buttom
            a.button--outline.button(href="#")
                | Xem thêm
                i.fa-solid.fa-angle-right