extends ../layouts/default.pug  
include ../mixins/box-head.pug

block title 
    title Trang chủ
block main     
    .section-1
        .container
            .section-1__wrap
                img(src="assets/images/section2-bg4.svg" class="section-1__bg-4")
                img(src="assets/images/section-1-bg1.svg" class="section-1__bg-1")
                .section-1__content
                    h1.section-1__title Thêm Một Bạn
                    h2.section-1__sub-title Thêm Ngàn Niềm Vui!
                    p.section-1__decs
                        |Có một con thú cưng đồng nghĩa với việc bạn có 
                        |thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau 
                        |có thể đáp ứng nhu cầu của bạn!
                    .section-1__buttons
                        a(href="#" class="button button--outline") Giới thiệu <i class="fa-regular fa-circle-play"></i>
                        a(href="#" class="button") Khám phá ngay
                img(src="assets/images/section-2-bg2.svg" class="section-1__bg-2" alt="")                 
                .section-1__image
                    img(src="assets/images/section2-bg3.svg" class="section-1__bg-3" alt="")
                    img(src="assets/images/image-section.png" class="section-1__image-main" alt="")

    .section-2 
        .container 
            +box-head(
                "Có gì mới?",
                "một số sản phẩm của chúng tôi",
                "#"
            )
            .section-2__wrap
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/images/image-product.jpg" alt="")
                    .product-item__content
                        .product-item__inner-title
                            a(href="#") MO231 - Pomeranian Trắng
                        .product-item__decs
                            .product-item__decs-item Giống: <b>Đực</b>
                            .product-item__dot
                            .product-item__decs-item Tuổi: <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
            .section-2__button-buttom
                a(href="#" class="button--outline button") Xem thêm
    
    include ../partials/Section-3.pug
    include ../partials/Section-4.pug


