mixin box-head(subTitle, title, link)
    .box-head 
        .box-head__left         
            .box-head__sub-title #{subTitle}
            h2.box-head__title #{title}
        if(link)
            .box-head__right
                a(href=link class="button--outline button") 
                    | Xem thêm <i class="fa-solid fa-angle-right"></i>